<main class="job-list">
    @for (job of jobs(); track job.id) {

        <div class="job-card">

            <div class="job-header">

                <div>
                    <h2>{{ job.title }}</h2>

                    <p>
                        {{ job.department }} • {{ job.location }}
                    </p>
                </div>

                <span class="salary">
                    {{ job.salary }}
                </span>

            </div>

            <p class="description">
                {{ job.description }}
            </p>

            <div class="tags">

                @for(tag of job.tags; track tag){

                    <span>{{ tag }}</span>

                }

            </div>

            <button class="request">
                Request Referral
            </button>

        </div>

    }

</main>